- The project is out-of-sync -- use `renv::status()` for details.
           Package      Version  
renv       "renv"       "1.0.5"  
base       "base"       "4.2.1"  
boot       "boot"       "1.3-28" 
class      "class"      "7.3-20" 
cluster    "cluster"    "2.1.3"  
codetools  "codetools"  "0.2-18" 
compiler   "compiler"   "4.2.1"  
datasets   "datasets"   "4.2.1"  
foreign    "foreign"    "0.8-82" 
graphics   "graphics"   "4.2.1"  
grDevices  "grDevices"  "4.2.1"  
grid       "grid"       "4.2.1"  
KernSmooth "KernSmooth" "2.23-20"
lattice    "lattice"    "0.20-45"
MASS       "MASS"       "7.3-57" 
Matrix     "Matrix"     "1.4-1"  
methods    "methods"    "4.2.1"  
mgcv       "mgcv"       "1.8-40" 
nlme       "nlme"       "3.1-157"
nnet       "nnet"       "7.3-17" 
parallel   "parallel"   "4.2.1"  
rpart      "rpart"      "4.1.16" 
spatial    "spatial"    "7.3-15" 
splines    "splines"    "4.2.1"  
stats      "stats"      "4.2.1"  
stats4     "stats4"     "4.2.1"  
survival   "survival"   "3.3-1"  
tcltk      "tcltk"      "4.2.1"  
tools      "tools"      "4.2.1"  
utils      "utils"      "4.2.1"  
