               Package          Version  
cellranger     "cellranger"     "1.1.0"  
cli            "cli"            "3.6.4"  
cpp11          "cpp11"          "0.5.1"  
crayon         "crayon"         "1.5.3"  
data.table     "data.table"     "1.17.0" 
dotenv         "dotenv"         "1.0.3"  
execucao       "execucao"       "0.5.25" 
fansi          "fansi"          "1.0.6"  
formatR        "formatR"        "1.14"   
futile.logger  "futile.logger"  "1.4.3"  
futile.options "futile.options" "1.0.1"  
glue           "glue"           "1.8.0"  
here           "here"           "1.0.1"  
hms            "hms"            "1.1.3"  
lambda.r       "lambda.r"       "1.2.4"  
lifecycle      "lifecycle"      "1.0.4"  
magrittr       "magrittr"       "2.0.3"  
pillar         "pillar"         "1.10.1" 
pkgconfig      "pkgconfig"      "2.0.3"  
prettyunits    "prettyunits"    "1.2.0"  
progress       "progress"       "1.2.3"  
R6             "R6"             "2.6.1"  
readxl         "readxl"         "1.4.3"  
reest          "reest"          "0.2.7"  
relatorios     "relatorios"     "0.7.78" 
rematch        "rematch"        "2.0.0"  
renv           "renv"           "1.1.1"  
rlang          "rlang"          "1.1.5"  
rprojroot      "rprojroot"      "2.0.4"  
tibble         "tibble"         "3.2.1"  
utf8           "utf8"           "1.2.4"  
vctrs          "vctrs"          "0.6.5"  
writexl        "writexl"        "1.5.1"  
base           "base"           "4.4.2"  
boot           "boot"           "1.3-31" 
class          "class"          "7.3-22" 
cluster        "cluster"        "2.1.6"  
codetools      "codetools"      "0.2-20" 
compiler       "compiler"       "4.4.2"  
datasets       "datasets"       "4.4.2"  
foreign        "foreign"        "0.8-87" 
graphics       "graphics"       "4.4.2"  
grDevices      "grDevices"      "4.4.2"  
grid           "grid"           "4.4.2"  
KernSmooth     "KernSmooth"     "2.23-24"
lattice        "lattice"        "0.22-6" 
MASS           "MASS"           "7.3-61" 
Matrix         "Matrix"         "1.7-1"  
methods        "methods"        "4.4.2"  
mgcv           "mgcv"           "1.9-1"  
nlme           "nlme"           "3.1-166"
nnet           "nnet"           "7.3-19" 
parallel       "parallel"       "4.4.2"  
rpart          "rpart"          "4.1.23" 
spatial        "spatial"        "7.3-17" 
splines        "splines"        "4.4.2"  
stats          "stats"          "4.4.2"  
stats4         "stats4"         "4.4.2"  
survival       "survival"       "3.7-0"  
tcltk          "tcltk"          "4.4.2"  
tools          "tools"          "4.4.2"  
utils          "utils"          "4.4.2"  
